<h1>Categories</h1>

<div class="actions">
  <%= link_to 'New Category', new_admin_category_path, class: "btn btn-primary" %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
      
<div class="actions">
  <%= link_to 'Back', admin_root_path %>
</div>